.main {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
    justify-items: center;
}

.container-center {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1250px;
}

.orden {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    min-width: 280px;
    padding: 20px 15px 50px;
}