.seccion-pizza {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    min-width: 280px;
    padding: 20px 15px 50px;
    background-color: #fff;
    margin-bottom: 20px;
}

.div-titulo {
    display: grid;
    grid-template-columns: 1fr;
}

.opciones-pizza {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 10px;
}

.pizzas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.pizza-item {
  border: 1px solid #ccc; /* Cambiamos el color del borde a gris claro */
  border-radius: 10px; /* Aumentamos el radio para un borde más redondo */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una ligera sombra a cada elemento */
  text-align: center; /* Centramos el contenido */
}

.pizza-item img {
    width: 100%; /* Haz que la imagen ocupe el ancho completo del cuadro */
    border-radius: 0; /* Elimina el borde redondo */
    margin: 0; /* Elimina los márgenes por defecto */
    max-width: none; /* Evita el máximo ancho de la imagen */
    object-fit: cover; /* Escala y recorta la imagen para llenar el espacio */
}

.pizza-item button {
    border: none; /* Eliminamos el borde por defecto del botón */
    border-radius: 15px; /* Agregamos un radio para un borde redondo */
    background-color: #f28a2e; /* Cambiamos el color de fondo del botón (puedes ajustarlo según tus preferencias) */
    color: white; /* Cambiamos el color del texto a blanco */
    padding: 10px 20px; /* Añadimos relleno al botón */
    cursor: pointer; /* Cambiamos el cursor al pasar por encima del botón */
    font-weight: bold; /* Hacemos el texto en negrita */
    margin-top: 5px; /* Establecemos un margen superior para separar el botón de la descripción */
  }

  .pizza-item h4 {
    font-size: 1.5rem; /* Tamaño de fuente más grande (ajusta según tus preferencias) */
    font-weight: bold; /* Texto en negrita */
    text-align: left; /* Alineamos el texto a la izquierda */
  }

  .pizza-item p {
    text-align: left;
    margin: 0;
    margin-bottom: 10px; /* Agregamos un margen inferior entre la descripción y el botón */
  }
  
  .op-pizza-item {
    display: flex;
    align-items: center;
    margin: 10px; /* Agrega un margen de 10px alrededor de los cuadros */
  }
  
  .bold-text {
    font-weight: bold;
    font-size: 24px;
  }
  
  .pizza-icon {
    width: 120px; /* Ajusta el ancho de la imagen a 50px (puedes cambiar este valor según tus preferencias) */
    margin-right: 10px; /* Agrega un margen entre la imagen y el texto */
    height: 80px; /* Tamaño de la imagen (ajusta según tus preferencias) */
    }

.op-pizza-item {
    border: 1px solid #ccc; /* Cambiamos el color del borde a gris claro */
    border-radius: 10px; /* Aumentamos el radio para un borde más redondo */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una ligera sombra a cada elemento */
    text-align: center; /* Centramos el contenido */
  }

  .bt-open-modal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    cursor: pointer;
    align-items: center;
}
