.seccion-gaseosas {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    min-width: 280px;
    padding: 20px 15px 50px;
    background-color: #fff;
    margin-bottom: 20px;
}

.div-titulo {
    display: grid;
    grid-template-columns: 1fr;
}

.gaseosas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.gaseosa-item {
  border: 1px solid #ccc; /* Cambiamos el color del borde a gris claro */
  border-radius: 10px; /* Aumentamos el radio para un borde más redondo */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una ligera sombra a cada elemento */
  text-align: center; /* Centramos el contenido */
}

.gaseosa-item img {
    width: 100%; /* Haz que la imagen ocupe el ancho completo del cuadro */
    border-radius: 0; /* Elimina el borde redondo */
    margin: 0; /* Elimina los márgenes por defecto */
    max-width: none; /* Evita el máximo ancho de la imagen */
    object-fit: cover; /* Escala y recorta la imagen para llenar el espacio */
}

.gaseosa-item button {
    border: none; /* Eliminamos el borde por defecto del botón */
    border-radius: 15px; /* Agregamos un radio para un borde redondo */
    background-color: #f28a2e; /* Cambiamos el color de fondo del botón (puedes ajustarlo según tus preferencias) */
    color: white; /* Cambiamos el color del texto a blanco */
    padding: 10px 20px; /* Añadimos relleno al botón */
    cursor: pointer; /* Cambiamos el cursor al pasar por encima del botón */
    font-weight: bold; /* Hacemos el texto en negrita */
    margin-top: 5px; /* Establecemos un margen superior para separar el botón de la descripción */
  }

  .gaseosa-item h4 {
    font-size: 1.5rem; /* Tamaño de fuente más grande (ajusta según tus preferencias) */
    font-weight: bold; /* Texto en negrita */
    text-align: left; /* Alineamos el texto a la izquierda */
  }

  .gaseosa-item p {
    text-align: left;
    margin: 0;
    margin-bottom: 10px; /* Agregamos un margen inferior entre la descripción y el botón */
  }
  